* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

:is(article, aside, details,
    figcaption, figure, footer,
    header, hgroup, menu,
    nav, section) {
    display: block;
}

body {
    line-height: 1;
    overflow-x: clip;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

:is(blockquote:before, blockquote:after,
    q:before, q:after) {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    background: var(--background);
    color: var(--on-background);
    font-family: var(--font-primary);
    /* background-image: url('data:image/svg+xml;utf8,<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h100v100H0z" fill="%23e9e2d0"/><path d="M20 20h2v2h-2zm30 0h2v2h-2zm30 0h2v2h-2zM5 35h2v2H5zm30 0h2v2h-2zm30 0h2v2h-2zM20 50h2v2h-2zm30 0h2v2h-2zm30 0h2v2h-2zM5 65h2v2H5zm30 0h2v2h-2zm30 0h2v2h-2zM20 80h2v2h-2zm30 0h2v2h-2zm30 0h2v2h-2z" fill="%23d6ceb9"/></svg>'); */

    @media (max-width: 600px) {
        & {
            scrollbar-width: none;
        }
    }
}

.glass {
    backdrop-filter: blur(20px) saturate(280%);
    background-color: rgba(255, 255, 255, 0);
}

#app-root {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    padding: 2rem;

    @media (max-width: 600px) {
        & {
            padding-inline: 0rem;
        }
    }
}