name: Build Linux

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-linux-x64:
    name: Build Linux x64
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Update packages and Install dependencies
        run: |
          # Update package list
          sudo apt-get update -y

          # Install required dependencies
          sudo apt-get install -y \
            ninja-build \
            libgtk-3-dev \
            libsecret-1-dev

      - name: Flutter Build
        uses: ./.github/actions/flutter-build
        with:
          build-arguments: linux --release

      - name: Create artifacts directory
        run: mkdir -p artifacts

      - name: Zip build
        run: |
          (cd build/linux/x64/release/bundle && zip -r linux-x64.zip *)
          cp build/linux/x64/release/bundle/linux-x64.zip artifacts

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: linux-x64
          path: artifacts/linux-x64.zip
          compression-level: 0 # no compression
