name: Build Windows

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-windows-x64:
    name: Build Windows x64
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Flutter Build
        uses: ./.github/actions/flutter-build
        with:
          build-arguments: windows --release

      - name: Create artifacts directory
        shell: pwsh
        run: mkdir artifacts -Force

      - name: Zip build
        shell: pwsh
        run: |
          Compress-Archive `
            -Path build/windows/x64/runner/Release/* `
            -DestinationPath artifacts/windows-x64.zip `
            -Force

      - name: Choco install innosetup
        uses: crazy-max/ghaction-chocolatey@v3.4.0
        with:
          args: install innosetup --version 6.6.1 --no-progress -y

      - name: Check Inno Setup installation
        shell: pwsh
        run: |
          $innoPath = "C:\Program Files (x86)\Inno Setup 6\ISCC.exe"

          if (Test-Path $innoPath) {
            Write-Host "✅ Inno Setup found at $innoPath"
          }
          else {
            Write-Host "❌ Inno Setup not found at $innoPath. Please install it or adjust the path."
          }

      - name: Compile .ISS to .EXE Installer
        shell: pwsh
        run: |
          $innoPath = "C:\Program Files (x86)\Inno Setup 6\ISCC.exe"

          & $innoPath `
          "${{github.workspace}}/windows/packaging/innosetup/github-setup.iss" `
          /DWorkspaceDir="${{github.workspace}}"

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: windows-x64
          path: |
            artifacts/windows-x64.zip  
            artifacts/windows-x64-setup.exe
          compression-level: 0 # no compression
