name: Flutter Release Publish

on:
  push:
    tags:
      - "v*" # Trigger on version tags like v1.0.0

jobs:
  build-windows:
    permissions:
      contents: write

    name: Build Windows
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Flutter
        uses: subosito/flutter-action@v2.21.0
        with:
          channel: "stable"
          flutter-version-file: pubspec.yaml

      - name: Check Flutter Version
        run: flutter --version

      - name: Flutter Doctor
        run: flutter doctor

      - name: Install dependencies
        run: flutter pub get

      - name: Build Windows App
        run: flutter build windows --release

      - name: Zip Windows build
        run: |
          powershell Compress-Archive `
            -Path build/windows/x64/runner/Release/* `
            -DestinationPath windows-release.zip

      - name: Upload release assets
        uses: softprops/action-gh-release@v2.4.2
        with:
          tag_name: ${{ github.ref_name }}
          files: windows-release.zip

      - name: Verify release
        run: echo "Release created for ${{ github.ref_name }}"

  build-linux:
    permissions:
      contents: write

    name: Build Linux
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Flutter
        uses: subosito/flutter-action@v2.21.0
        with:
          channel: "stable"
          flutter-version-file: pubspec.yaml

      - name: Check Flutter Version
        run: flutter --version

      - name: Flutter Doctor
        run: flutter doctor

      - name: Install dependencies
        run: flutter pub get

      - name: Build Android APK
        run: flutter build apk --release

      - name: Build Android App Bundle
        run: flutter build appbundle --release

      - name: Build Linux App
        run: |
          # Update package list
          sudo apt-get update -y

          # Install required dependencies
          sudo apt-get install -y \
            ninja-build \
            libgtk-3-dev \
            libsecret-1-dev

          flutter doctor

          # Build Flutter Linux app  
          flutter build linux --release

      - name: Build Flutter Web
        run: flutter build web --release

      - name: Zip Linux build
        run: zip -r linux-release.zip build/linux/x64/release/bundle/

      - name: Zip Web build
        run: zip -r web-release.zip build/web/

      - name: Upload release assets
        uses: softprops/action-gh-release@v2.4.2
        with:
          tag_name: ${{ github.ref_name }}
          files: |
            build/app/outputs/flutter-apk/app-release.apk
            build/app/outputs/bundle/release/app-release.aab
            linux-release.zip
            web-release.zip

      - name: Verify release
        run: echo "Release created for ${{ github.ref_name }}"

  build-macos:
    permissions:
      contents: write

    name: Build macOS
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Flutter
        uses: subosito/flutter-action@v2.21.0
        with:
          channel: "stable"
          flutter-version-file: pubspec.yaml

      - name: Check Flutter Version
        run: flutter --version

      - name: Flutter Doctor
        run: flutter doctor

      - name: Install dependencies
        run: flutter pub get

      - name: Build macOS App
        run: flutter build macos --release

      - name: Build iOS app
        run: flutter build ios --release --no-codesign

      - name: Upload release assets
        uses: softprops/action-gh-release@v2.4.2
        with:
          tag_name: ${{ github.ref_name }}
          files: |
            **/Release/open_words.app
            **/iphoneos/Runner.app

      - name: Verify release
        run: echo "Release created for ${{ github.ref_name }}"
