name: Build iOS

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-ios-unsigned-ipa:
    name: Build iOS unsigned
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Flutter Build
        uses: ./.github/actions/flutter-build
        with:
          build-arguments: ios --release --no-codesign

      # - name: Create artifacts directory
      #   run: mkdir -p artifacts

      # - name: Zip build
      #   run: |
      #     (cd build/ios/ipa && zip -r ios-unsigned-ipa.zip *.ipa)
      #     cp build/ios/ipa/ios-unsigned-ipa.zip artifacts

      # - name: Upload artifact
      #   uses: actions/upload-artifact@v5
      #   with:
      #     name: ios-unsigned-ipa
      #     path: artifacts/ios-unsigned-ipa.zip
      #     compression-level: 0 # no compression
